.header{
    background-color: transparent;
    padding: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 24px;
    color: #333;
    -webkit-text-stroke-width: 0mm;
}
#Home{
    text-size-adjust: 50px;
    font-family: Arial, sans-serif;    
    font-weight: bold;
}
body{
    background-color: aquamarine;
}
.content{
    padding: 20px;
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: #333;
    
}